# CSHARP Build results

**/[Bb]in/
**/[Oo]bj/

# Visual Studio
**/.vs/

# Rider
**/.idea

#Input from Advent Of Code

**/AOCinput
**/AOCtest

**/AOCinput.txt
**/AOCtest.txt


#VS Code

**/.vscode

# RUST

target/

# Binaries

**/*.exe
**/*.pdb
**/*.obj

# Kotlin
.gradle/
build/

# Zig
**/zig-cache
